<!--I created the component with help of this, and it's useless now.-->
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="mini-player.css">
    <title>Title</title>
</head>
<body>
<div id="clock">
    <div id="hourHand" class="hand"></div>
    <div id="minuteHand" class="hand"></div>
    <div id="secondHand" class="hand"></div>
    <div id="center"></div>
    <div class="littleVLine"></div>
    <div id="hour3">
        <span>03</span>
        <div class="littleHLine"></div>
    </div>
    <div class="littleVLine"></div>
    <div id="hour9">
        <span>09</span>
        <div class="littleHLine"></div>
    </div>
</div>
<script src="mini-player.js"></script>
</body>
</html>-->
